<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Google_SSL" patternSyntax="Wildcard"  stopProcessing="true">
          <match url="*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" />
          </conditions>
          <action type="Rewrite" url="https://www.google.com.sg/{R:0}" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
          </serverVariables>
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
          <preCondition name="NeedRestoreAcceptEncoding">
            <add input="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" pattern=".+" />
          </preCondition>
        </preConditions>
        <rule name="Google_Output" preCondition="IsHTML">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^https://www.google.com.sg/(.*)" />
          <action type="Rewrite" value="https://ggl.azurewebsites.net/{R:1}" />
        </rule>
        <rule name="RestoreAcceptEncoding" preCondition="NeedRestoreAcceptEncoding">
          <match serverVariable="HTTP_ACCEPT_ENCODING" pattern="^(.*)" />
          <action type="Rewrite" value="{HTTP_X_ORIGINAL_ACCEPT_ENCODING}" />
        </rule>
      </outboundRules>
    </rewrite>
    <urlCompression dynamicCompressionBeforeCache="false" />
  </system.webServer>
</configuration>