<configuration>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <rewrite>
      <rules>
        <rule name="ForceSSL" stopProcessing="true">
            <match url="^(.*)" />
            <conditions>
                <add input="{HTTPS}" pattern="^off$" ignoreCase="true" />
            </conditions>
            <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="ProxyGStatic" stopProcessing="true">
          <match url="^gstatic/(.*)" />
          <action type="Rewrite" url="https://encrypted-tbn1.gstatic.com/{R:1}" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        <rule name="ProxySSLGStatic" stopProcessing="true">
          <match url="^sslgstatic/(.*)" />
          <action type="Rewrite" url="https://ssl.gstatic.com/{R:1}" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
        <rule name="Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="https://www.google.com.sg/{R:1}" />
          <serverVariables>
            <set name="HTTP_ACCEPT_ENCODING" value="" />
            <set name="HTTP_X_ORIGINAL_HOST" value="{HTTP_HOST}" />
          </serverVariables>
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="IsHTML">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html" />
          </preCondition>
          <preCondition name="IsJson">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/json" />
          </preCondition>
        </preConditions>
        <rule name="ChangeReferencesToOriginalUrl" preCondition="IsHTML">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^https://www.google.com.sg/(.*)" />
          <action type="Rewrite" value="https://{HTTP_X_ORIGINAL_HOST}/{R:1}" />
        </rule>
        <rule name="ChangeReferencesToOriginalUrlInJson" patternSyntax="ExactMatch" preCondition="IsJson">
          <match pattern="www.google.com.sg" />
          <action type="Rewrite" value="{HTTP_X_ORIGINAL_HOST}" />
        </rule>
        <rule name="ChangeGStaticReferencesToOriginalUrl" preCondition="IsHTML">
          <match filterByTags="A, Area, Base, Form, Frame, Head, IFrame, Img, Input, Link, Script" pattern="^https://encrypted-tbn[0-9].gstatic.com/(.*)" />
          <action type="Rewrite" value="https://{HTTP_X_ORIGINAL_HOST}/gstatic/{R:1}" />
        </rule>
        <rule name="ChangeGStaticReferencesToOriginalUrlInJson" preCondition="IsJson">
          <match pattern="encrypted-tbn[0-9]\.gstatic\.com" />
          <action type="Rewrite" value="{HTTP_X_ORIGINAL_HOST}/gstatic" />
        </rule>
        <rule name="ChangeSSLGstaticReferencesToOriginalUrl" patternSyntax="ExactMatch" preCondition="IsHTML">
          <match pattern="ssl.gstatic.com" />
          <action type="Rewrite" value="{HTTP_X_ORIGINAL_HOST}/sslgstatic" />
        </rule>
        <rule name="RewriteBackendRelativeUrlsInRedirects" preCondition="IsHTML">
          <match serverVariable="RESPONSE_LOCATION" pattern="^https://www.google.com.sg/(.*)" />
          <action type="Rewrite" value="https://{HTTP_X_ORIGINAL_HOST}/{R:1}" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>